h1 {
    background-color: aquamarine;
    color: black;
    text-align: center;
}
h2{
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: blue;
    font-weight: 200;
}
ul{
    color: darkolivegreen;
    font-weight: 200;
}

.destacados {
    color: rgb(255, 115, 0);
    font: 22;
}

#caja{
    background: coral;
    width: 300px;
}